<ion-view view-title="Introdução">
	<ion-nav-title>Introdução</ion-nav-title>
	<ion-nav-buttons side="right">
    </ion-nav-buttons>
	<ion-slide-box on-slide-changed="slideChanged(index)">
		<ion-slide>
			<strong>Deslize para baixo para atualizar</strong> <br />&nbsp;<br />
			<img src="img/intro.gif" height="50%" />
			<button class="button button-full button-positive azul-cejam" ng-click="next()">
				Ok, entendi...
			</button>
		</ion-slide>
		<ion-slide>
			<strong>Selecione as abas que lhe interessar</strong> <br />&nbsp;<br />
			<img src="img/tabs.gif" height="50%" />
			<button class="button button-full button-positive azul-cejam" ng-click="next()">
				Ok, entendi...
			</button>
		</ion-slide>
		<ion-slide>
			<p><img src="img/cejam.png" /></p>
			<h2>Aproveite o evento</h2> <br />&nbsp;<br />
			<button class="button button-full button-positive azul-cejam" ng-click="startApp()">
				Começar a usar o Aplicativo
			</button>
		</ion-slide>
    </ion-slide-box>	
</ion-view>