<ion-view>
	<ion-nav-title>
      Programação
    </ion-nav-title>	
	 <ion-content scroll-event-interval="5">
		<ion-refresher
			pulling-text="Puxe para atualizar..."
			on-refresh="update()">
		</ion-refresher>
		<div>
			<div ng-repeat="programacao in programacoes">
				<div class="group-list">
					<div class="list">
						<div class="item item-divider">
							{{programacao[0].data}}							
						</div>					
						<div class="item item-text-wrap" ng-repeat="palestra in programacao">
							{{palestra.titulo}}
							<br/>
							<h4>{{palestra.horario}}</h4>
						</div>						
					</div>
				</div>
			</div>
		</div>
		
	  </ion-content>
</ion-view>