<ion-view view-title="Programação">
		
	 <ion-content scroll-event-interval="5">
		<ion-refresher
			pulling-text="Puxe para atualizar..."
			on-refresh="update()">
		</ion-refresher>
		<div>
			<div ng-repeat="(key, programacao) in programacoes">
				<div class="group-list">
					<div class="list">
						<div class="item item-divider">
							{{key}}							
						</div>											
						<a href="#/tab/programacao/{{palestra.id}}" class="item item-text-wrap" ng-repeat="palestra in programacao">
							{{palestra.titulo}}
							<br/>
							<h4>{{palestra.horario}}</h4>
						</a>
					</div>
				</div>
			</div>
		</div>		
	  </ion-content>
</ion-view>